@import url("../app/globals.css");

.Button, .ButtonBorder, .ButtonBackground{
    --minHeight: 24px;
    --minWidth: 48px;
    --fontSize: 11pt;
    --padding: 14px;
}

.Button.xsmall, .ButtonBorder.xsmall, .ButtonBackground.xsmall{
    --minHeight: 16px;
    --minWidth: 28px;
    --fontSize: 7pt;
    --padding: 9px;
}

.Button.small, .ButtonBorder.small, .ButtonBackground.small{
    --minHeight: 20px;
    --minWidth: 32px;
    --fontSize: 9pt;
    --padding: 12px;
}

.Button.large, .ButtonBorder.large, .ButtonBackground.large{
    --minHeight: 28px;
    --minWidth: 56px;
    --fontSize: 14pt;
    --padding: 18px;
}

.Button.xlarge, .ButtonBorder.xlarge, .ButtonBackground.xlarge{
    --minHeight: 32px;
    --minWidth: 64px;
    --fontSize: 17pt;
    --padding: 22px;
}

.Button{
    text-align: center;
    font-family:inherit;
    margin: 0px;
    color: var(--text);
    min-height: var(--minHeight);
    min-width: var(--minWidth);
    background:none;
    border:solid 1px #00000000;
    border-radius: 4px;
    padding-left:var(--padding);
    padding-right:var(--padding);
    align-content: center;
    transition: 0.6s;
}

.ButtonBorder{
    border: solid var(--border) 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 0;
    font-size: var(--fontSize);
    background:none;
    position:relative;
    z-index:0;
    vertical-align: bottom;
}

.ButtonBorder:hover{
    cursor:pointer;
}

.ButtonBackground {
    background-image: linear-gradient(
        var(--fillLight) 45%,
        var(--fillDark) 50%,
        90%,
        var(--fillBottom) 99%
    );
    min-height: var(--minHeight);
    min-width: var(--minWidth);
    border: solid var(--innerBorder) 1px;
    border-radius: 4px;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    transition: 0.6s;
    padding-left: var(--padding);
    padding-right:var(--padding);
    color:#00000000;
}

.Button:hover ~ .ButtonBackground{
    transition: 0.2s;
    box-shadow: 0 0 12px var(--glow);
    background-image: linear-gradient(
        var(--fillLightHover) 45%,
        var(--fillDarkHover) 50%,
        85%,
        var(--fillBottomHover) 99%
    );
    opacity:1;
}

.Button:active{
    transition: color 0s;
    color: var(--textActive);
}

.Button:active ~ .ButtonBackground {
    background-image: linear-gradient(
        var(--fillLightActive) 45%,
        var(--fillDarkActive) 50%,
        85%,
        var(--fillBottomActive) 99%
    );
    border-color: var(--innerBorderActive)
}

.Button.TextBordered{
    -webkit-text-stroke-color: var(--border);
    -webkit-text-stroke-width: 2px;
    color:#FFFFFF
}

.ButtonBorder:disabled{
    cursor:not-allowed;
    border-color: var(--borderDisabled);
}

.ButtonBorder:disabled .Button{
    color:var(--textDisabled);
}

.ButtonBorder:disabled .ButtonBackground{
    background-image: linear-gradient(
        var(--fillLightDisabled) 45%,
        var(--fillDarkDisabled) 50%,
        85%,
        var(--fillBottomDisabled) 99%
    );
    border-color: var(--innerBorderDisabled);
    box-shadow:none;
}

.ButtonBorder:disabled .Button.TextBordered{
    color:#b2b2b2;
    -webkit-text-stroke-color: var(--borderDisabled);
}

.ButtonBackground.Transparent{
    opacity: 0.6;
}

.Button:hover ~ .ButtonBackground.Transparent{
    opacity: 0.8;
}

.Button.square, .ButtonBackground.square, .Button.circle, .ButtonBackground.circle{
    min-width: var(--minHeight);
    max-width: var(--minHeight);
    width: fit-content;
    padding:0;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
    vertical-align: bottom;
}

.Button.square:hover, .Button:hover ~ .ButtonBackground.square, .Button.circle:hover, .Button:hover ~ .ButtonBackground.circle{
    transition: max-width 0.6s;
    max-width: var(--minWidth);
}

.ButtonBackground.circle, .ButtonBackground.round, .ButtonBorder.circle, .ButtonBorder.round{
    border-radius: 400px;
}